/* root variables*/
:root{
    --blue: rgb(51, 51, 255);
    --hoverBlue: rgb(41, 41, 204);
    --overlay: rgba(0, 0, 0, 0.5);
}
/* reset default margin and padding*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styles*/
body{
    font-family:Arial, Helvetica, sans-serif;
}
/* Navbar container styles*/

.navbar-section {
    padding: 10px 10px 15px 20px;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
/* Logo container styles */
.logo-container {
    display: flex;
    align-items: center;
    padding: 10px 50px 0px 0px;
}
.navbar-logo{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.logo-text{
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar-text{
    flex-grow: 1;
}
.navbar-list{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-weight: 600;
}
.navbar-item{
    margin-right: 20px;
    cursor: pointer;
    padding-top: 27px;
}
.navbar-item:hover {
    border-bottom: 2px solid var(--hoverBlue);
    color: var(--blue);
}
.navbar-button {
    background-color: var(--hoverBlue);
    margin-top: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 5px 5px #ccc;
}

.navbar-button:hover {
    background-color: #fff;
    color: var(--blue);
    border: 1px solid var(--blue)
}

/* background imaage*/
.heroe-image{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/backgroundImg.jpeg'), var(--overlay);
    background-blend-mode: darken;
    background-size: cover;
    z-index: -1;
    background-position: center;
}

.hero-text{
    display: flex;
    padding-top: 220px;
    padding-bottom: 0;
    height: 56vh;
    align-items: center;
    color: white;
    flex-direction: column;
}

.hero-text h1{
    font-size: 2.7rem;
    color: rgba(255, 255, 255);
    margin-bottom: 10px;
}

.heroe-image p{
    color: white;
    font-size: 15px;
}
.main-booking-container{
    display: flex;
    justify-content: center;
}

.booking-container{
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 20vh;
    width: 85vw;
    padding: 20px;
    align-items: flex-start;
}
.booking-items{
    width: 20%;
    background-color: #fff;
    border: 1px solid lightgrey;
    margin-left: 20px;
    border-radius: 5px;
    height: 8vh;
}
.booking-items p{
    color: rgb(182, 50, 50);
}
.booking-items input {
   padding: 1px solid red;
}
.booking-container-overlay{
    background-color: var(--overlay);
    z-index: 30;
    position: absolute;
    width: 100vw;
    height: 7vh;
    bottom: 0;
    right: 0;
}