:root{
    --label_text: #4a5568;
    --blue: rgb(51, 51, 255);
    --hoverBlue: rgb(41, 41, 204);
}

*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
    max-width: 450px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-heading{
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
.modal-label{
    display: block;
    text-align: left;
    margin: 30px 0px 10px 10px;
    font-weight: 600;
    color: var(--label_text);
}
.modal-input{
    width: 90%;
    padding: 8px;
    border: 1px solid var(--label_text);
    border-radius: 5px;
}
.modal-button{
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 40%;
    padding: 10px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: 600;
}