/* section 2*/
.section2 {
    padding-top: 40px;
}

.section2-heading {
    text-align: center;
    font-size: 2rem;
}

.section2-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.icon-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 20px;
    line-height: 1.5;
}

.icons {
    font-size: 2.5rem;
    color: var(--hoverBlue);
}

.icon-containers h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.icon-text {
    text-align: center;
}

/* Mobile Devices */
@media (max-width: 480px) {
    .section2-heading {
        font-size: 1.5rem;
        padding: 0 10px;
    }

    .section2-container {
        flex-direction: column;
        align-items: center;
    }

    .icon-containers {
        width: 80%;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .icons {
        font-size: 1.8rem;
    }

    .icon-containers h3 {
        font-size: 1.2rem;
    }

    .section2-icon {
        height: 80px;
        width: 80px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .section2-heading {
        font-size: 1.5rem;
    }

    .icon-containers {
        padding: 0px 10px 0px 10px;
    }

    .icons {
        font-size: 2rem;
    }

    .icon-containers h3 {
        font-size: 1.2rem;
    }
}

/* Small Desktops */
@media (max-width: 1024px) {
    .section2-heading {
        font-size: 1.8rem;
    }

    .icon-containers {
        padding: 0px 15px 0px 15px;
    }

    .icons {
        font-size: 2.2rem;
    }

    .icon-containers h3 {
        font-size: 1.3rem;
    }
}

/* Large Desktops */
@media (max-width: 1200px) {
    .section2-heading {
        font-size: 1.9rem;
    }

    .icon-containers {
        padding: 0px 18px 0px 18px;
    }

    .icons {
        font-size: 2.3rem;
    }

    .icon-containers h3 {
        font-size: 1.4rem;
    }
}