.testimonies-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
    overflow: hidden;
    animation: fadeInUp 1s forwards;
}

.testimonies-section h2 {
    margin-bottom: 30px;
}

.testimonies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards;
}

.testimony-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40vh;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.testimony-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.testimony-text {
    font-size: 1rem;
    color: #555;
    margin-top: 30px;
    margin-bottom: 10px;
}

.testimony-image {
    width: 3rem;
    height: auto;
    border-radius: 30px 30px 0 0;
}

.testimony-author {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.testimony-type {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.testimony-type.customer {
    background-color: #28a745;
}

.testimony-type.partner {
    background-color: #ffc107;
}

/* Animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 480px) {
    .testimonies-container {
        /* gap: 40px; */
       grid-template-columns: repeat(2, 1fr);
    }

    .testimony-box {
        height: auto;

    }

    .testimony-image {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .testimonies-container {
        grid-template-columns: 1fr 1fr;
    }
    .testimony-box {
        height: auto;
    }
}

/* Small Desktops */
@media (max-width: 1024px) {
    .testimonies-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .testimony-box {
        height: auto;
    }
}

/* Medium Desktops */
@media (max-width: 1200px) {
    .testimonies-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large Desktops */
@media (min-width: 1201px) {
    .testimonies-container {
        grid-template-columns: repeat(4, 1fr);
    }
}